:root {
  font-family:Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1;
  font-weight: 500;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --black: #000;
  --black2: #041226;
  --black3: #fec7b4;
  --black-lighter: #FEC7B4;
  --black-light: #F7418F;
  --red: #D01110;
  --orange: #f89e00;
  --gradient: linear-gradient(180deg, rgba(208,17,16,1) 1%, rgba(222,0,1,1) 22%, rgba(151,12,16,1) 70%);

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--black);
}

::-webkit-scrollbar {
  display: none;
}

.skeleton {
  position: relative;
  overflow: hidden;
  background-color: rgba(208, 16, 16, 0.715);
  &::after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      transform: translateX(-100%);
      background-image: linear-gradient(180deg, rgba(208,17,16,1) 1%, rgba(222,0,1,1) 42%, rgba(151,12,16,1) 82%);
      animation: shimmer 2s infinite;
      content: "";
  }

  @keyframes shimmer {
      100% {
          transform: translateX(100%);
      }
  }
}